@use "@/shared/scss/utilities.scss" as g;

#left-tools-bar {
	#tools-block {
		@include g.flex-center;
		justify-content: space-between;
		padding: 5px;
	}
	.tool-icon {
		width: 24px;
		height: 24px;
	}

	.rame {
		width: 30px;
		height: 30px;
		@include g.flex-center;
		border-radius: 50%;
		padding: 20px;
		transition: 0.5s;

		&:hover {
			background-color: #fff;
		}
	}
}
