@use "@/shared/scss/utilities.scss" as g;

#tools-bar {
	@include g.flex-center;
	#tools-block {
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: space-between;
		padding: 5px;
	}
	.tool-icon {
		width: 24px;
		height: 24px;
	}

	.frame {
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		padding: 20px;
		transition: 0.5s;

		&:hover {
			background-color: #fff;
		}
	}
}
